* {
    box-sizing: border-box;
}

.top-jumbo{
    background-image: url(/styles/resources/images/bg-photo.webp);
    padding-top: 1rem;
    background-size:cover;
    height: 40rem;
}
.top-jumbo header{
    max-width: 1000px;
    margin: 0 auto;
}
header nav{
    background: orangered;
    color: white;
    margin: 0 auto;
    padding:0.75rem 1.25rem ;
}
header nav ul{
    list-style: none;
    margin-left: 30px;
}
header nav li{
    display: inline-block;
}
.top-jumbo img{
    width: 20rem;
    display: block;
    margin:auto;
    margin-top: 9rem;
}

